.head{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 999;
}
.lefthand{
	position: fixed;
}
.content{
	padding-left: 200px;
	padding-top: 0.5px;
	width: 99%;
	height: 100%;
}
.content1{
	width: 75%;
	float: left;
}
.content2{
	width: 20%;
	float: right;
	position: fixed;
	right: 15px;
}
.search{
	margin-top: -4px;
}
.search >div{
	margin-top: 10px
}
.form-create{
	width:88%;
}