<!-- 使用Datatable来增强下面的原生表格 -->
<table class="table datatable">
  <!-- 定义表头 -->
  <thead>
    <tr>
       <th data-width="80%">#</th> 
      <th data-width="180%">订单号</th>
	  <th data-width="80%">名称</th>
	  <th data-width="100%">手机</th>
	  <th data-width="140%">下单时间</th>
	  <th data-width="80%">金额</th>
	  <th data-width="80%">支付</th>
	  <th data-width="80%">状态</th>
      <th class="text-center text-important"  data-width="80%">评分</th>
    </tr>
  </thead>
  <!-- 定义表格数据，每一个tr对应一个数据，不支持跨行内容 -->
  <tbody>
    <tr>
    	<td>121432</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    </tr>
    <tr>
    	<td>121432</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    </tr>
    <tr>
    	<td>121432</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    </tr>
    <tr>
    	<td>121432</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    </tr>
    <tr>
    	<td>121432</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    </tr>
    <tr>
    	<td>121432</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    </tr>
    <tr>
    	<td>121432</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    	<td>失联飞机是劳动法</td>
    </tr>
  </tbody>
</table>

<script>
/* 初始化数据表格 */
$('table.datatable').datatable({fixedHeaderOffset: 44,});
</script>