<div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                邹氏宜品家具制造有限公司管理系统
            </div><br>
            
           <div class="tpl-content-scope">
                <div class="note note-info">
                    <h3>关于宜品
                        <span class="close" data-close="note"></span>
                    </h3>
                    <p>重庆邹氏.宜品家具制造有限公司是一家致力于门业研发、设计、生产、销售于一体的现代化企业。木门定制、负墙板以及全屋等优质的定制服务，为您打造优质的宜居条件。
					一支思想前卫、具有创新能力的设计队伍，把美学、艺术品味、个人时尚追求及家居环保概念巧妙地融合在一起，已逐渐形成了自己独特的设计风格，充分满足了现代消费者不同的个性需求。
					精致的工艺、匠人之精神，让您拥有更好的生活品质。</p>
					
					
                </div>
            </div>

        </div>