<div class="tpl-content-wrapper"  id="">
 			<div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                       在线订单
                    </div>
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6">
                         </div>
                      	<div class="am-u-sm-12 am-u-md-3">
                            <div class="am-input-group am-input-group-sm">
                                <input type="text" class="am-form-field">
                                <span class="am-input-group-btn">
					             <button  v-on:click="findPage()" class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
					          	</span>
                            </div>
                        </div> 
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-12">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th>姓名</th>
                                            <th>电话</th>
                                            <th>地址</th>
                                            <th>面积</th>
                                            <th>备注</th>
                                            <th>时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="listBean in datas">
                                         	<td class="am-text-middle">{{listBean.name}}</td>
                                         	<td class="am-text-middle">{{listBean.phone}}</td>
                                         	<td class="am-text-middle">{{listBean.mergerName}},{{listBean.addr}}</td>
                                         	<td class="am-text-middle">{{listBean.floorSpace}}</td>
                                         	<td class="am-text-middle" ><a href="javascript:void(0)" v-on:click="ydz.order.showOrder(listBean.id)">查看</a></td>
                                         	<td class="am-text-middle">{{listBean.createDate | formatDates}}</td>
                                            <td class="am-text-middle">
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary" v-on:click="ydz.order.showOrder(listBean.id)"><span class="am-icon-pencil-square-o"></span>查看</button>
                                                        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" v-on:click="deleteOrder(listBean.id)"><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                 <vue-pagination :cur.sync="cur" :all.sync="all" v-on:btn-click="listen"></vue-pagination>

                                
                                <hr>
						 </div>
					</div>
                </div>
             </div>
	</div>

